# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and temporary files
.pytest_cache/
*.log
registro_completo_60_generaciones.txt

# Environments & IDEs
.env
.venv
env/
venv/
.vscode/
.idea/
